/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme_dark {
  --accent-color: #DB00FF;
  --title-decor: #FF0070;
  --title-accent-color: #FF0070;
  --buttons-and-corners-color: var(--title-decor);
  --title-color: #000028;
  --text-color: #F1B2CE;
  --bgi: url(../images/cover-image-dark.png);
  --header-decor-color: var(--title-decor);
  color-scheme: dark;
}

.page.theme_dark {    
  background-image: var(--bgi); 
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

.REC_container_dot::before {
  color: var(--header-decor-color);
}

.REC_container_dot::after {
  background-color: var(--header-decor-color);
  filter: blur(0.05em);
}

.header::before {
  border-top: 2px solid var(--buttons-and-corners-color);
  border-right: 2px solid var(--buttons-and-corners-color);
}

 .header::after {
  border-bottom: 2px solid var(--buttons-and-corners-color);
  border-left: 2px solid var(--buttons-and-corners-color);
} 

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--buttons-and-corners-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--buttons-and-corners-color);
}
  
.header__theme-menu-button:focus{
  border: none;
  outline: none;
}

.header__theme-menu-button:focus-visible{
  border-bottom: 1px solid var(--buttons-and-corners-color);
}

.researches-link:hover {
  text-decoration: underline;
}

.researches-link:focus{
  border: none;
  outline: none;
}

.researches-link:focus-visible{
  outline: 1px solid var(--text-color);
}

.content_paragraph_title,  
.content_paragraph_subtitle,
.content__paragraph_item_title,    
.content-card_title,
.content_card_list_title,
.gallery_title {
  font-family: inherit;
  font-size: 18px;
  font-weight: inherit;
  color: var(--title-color); 
  background-color: var(--title-decor);  
}

.content_paragraph_title,
.content_card_list_title { 
  color: var(--title-accent-color); 
  background-color: transparent; 
}

.footer::before {
  border-top: 2px solid var(--buttons-and-corners-color);
  border-right: 2px solid var(--buttons-and-corners-color);
}

 .footer::after {
  border-bottom: 2px solid var(--buttons-and-corners-color);
  border-left: 2px solid var(--buttons-and-corners-color);
 } 

