/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme_light {
  color-scheme: light;
  --bgi: url(../images/cover-image-light.png);
  --main-color: #353430;
  --accent-color: #ffc2e6;
  --header-title-color: #ffc2e6;
  --text-color: var(--main-color);
  --title-color: var(--main-color);
  --title-decor: #ff8dcb;
  --shadow-accent-color: var(--title-decor);
  --header-decor-color: transparent;
  --hover-color: rgb(0 0 40 / 0.4);
}

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-image: var(--bgi);
}
