/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

@media (prefers-color-scheme: dark) {

  :root {
    --accent-color: #db00ff;
    --title-decor: #ff0070;
    --title-accent-color: #ff0070;
    --buttons-and-corners-color: var(--title-decor);
    --title-color: #000028;
    --text-color: #f1b2ce;
    --bgi: url(../images/cover-image-dark.png);
    --header-decor-color: var(--title-decor);
    color-scheme: dark;
  }
}

@media (prefers-color-scheme: light) {

  :root {
    --accent-color: #ffc2e6;
    --header-decor-color: transparent;
    --title-accent-color: #353430;
    --text-color: #353430;
    --buttons-and-corners-color: #353430;
    --title-color: var(--text-color);
    --title-decor: #ff8dcb;
    --bgi: url(../images/cover-image-light.png);
    color-scheme: light;
  }
}
